



@media (min-width: 1680px){
    .video-cont h1{
    }
}

@media (min-width: 1800px){
    .video-cont h1{
    }
}
@media (max-width: 1366px){
.search-bar form{
    width: 95%;
}
.about_section .about_content {
    margin-left: 55px;
    }
    section.cta .content {
    width: 80%;
}
section.home-list img.img-fluid{
    height: 250px;
}
.attractions .image-box img{
    height: 400px;
}
.attractions .lower-box{
    left: 30px;
    right: 30px;
}
section.home-list ul li{
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
section.home-list ul li i{
    margin-right: 0;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    section.home-list .rating{
        width: 25%;
    }
    .guest-content-section {
    height: 415px;
    overflow: hidden;
}
.search-bar form {
    width: 100%;
}
    .search-bar .check{
        width: 50%;
    }

.banner-wrapper {
    height: 750px;
}
.about_section .about_content {
    margin-left: 25px;
}
section.new-about-us .inner-content h2 {
    font-size: var(--f50);
    }
section.property-new-sec h4{
    display: block;
    white-space: inherit;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}
.attractions .lower-box{
    left: 20px;
    right: 20px;
}

.video-cont h1{
    font-size: var(--f50);
    
}
section.home-list .row {
    gap: 30px 0%;
}
section.home-list img.img-fluid {
    height: 300px;
}
section.home-list .property-categories img, section.home-list .property-categories{
    height: 300px;
}
section.cta .content {
    width: 90%;
}
section.about-owner .col-6.col-md-6.col-sm-12.cont, section.about-owner .col-6.col-md-6.col-sm-12.img{
    width: 100%;
}
section.about-owner .abt-img {
    position: relative;
    width: 100%;
    }
    /* section.about-owner .row{
        gap: 30px;
    } */
    section.about-owner img{
        height: 500px;
    }
    .col-1.md-12.sm-12.srch-btn{
        padding-right: 10px;
    }
    section.home-list .col-4 {
    width: 49%;
}
section.home-list .prop-card{
    width: 50%;
}
section.home-list ul li{
    flex-direction: row;
    gap: 8px;
}
    .arrow-mask-right {
        left: 130px;
    }
}


@media (max-width: 1024px){
    section.about_wrapper .about-img1 {
        height: 945px;
    }

}





@media (max-width: 980px){
    section.about_wrapper .about-img1 {
        height: 400px;
      
    }
    section.about_wrapper .about-img1 img {
        height: 400px;
    }
    .desk-search-bar{
        display: block;
    }
    section.about-owner img {
        height: 400px;
     
    }
    .banner-wrapper{
        height: 800px;
    }
    .video-cont .search-bar {
    display: block;
}
    .video-cont h1{
    text-shadow: 0px 0px 6px #000;
    font-size: var(--f50);
    }
    .search-bar .col-3:before{
        display: none;
    }
.search-bar {
    position: relative;
    width: 100%;
    bottom: 52px;
    left: 0;
    padding: 10px;
}
.select::after, .search-bar .main-check::after{
    display:none;
}
.check.right.icns.mb-lg-0.position-relative.datepicker-common-2.check-out:before{
    display: none;
}
.search-bar .datepicker-common-2 {width: 50%;}
.search-bar form{
    width: 100%;
    position: relative;
    bottom: -94px;
    padding: var(--p20);
    background: var(--white-color);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 12%);
}
.search-bar .col-3 {
    width: 100%;
    margin-bottom: var(--m16);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--p6);
    padding-right: var(--p6);
}
.search-bar input, input#show-target-data, input#show-target-data1{
    line-height: 34px;
    font-weight: 400;
    border-radius: 25px;
    padding: var(--p12) var(--p22) var(--p11) var(--p48);
    background: #f5f5f5 !important;
    border: 1px solid #e0e0e0;
    color: var(--primary-text);
}
.search-bar select{
    line-height: 34px;
    font-weight: 400;
    height: 59px;
    border-radius: 25px;
    padding: var(--p12) var(--p22) var(--p11) var(--p10);
    background: #f5f5f5;
    text-indent: 30px;
    border: 1px solid #e0e0e0;
    color: var(--primary-text);
}
input#show-target-data, input#show-target-data1{
    height: 59px;
}
.search-bar input::placeholder, input#show-target-data::placeholder, input#show-target-data1::placeholder{
    color: var(--primary-text);
}
.search-bar .check i, .search-bar .col-3 i {
    top: 1.2rem;
    left: 20px;
    font-size: var(--f18);
    color: var(--secondary-color);
    width: 25px;
}
.datepicker{
    right: 0;
}
.search-bar .main-check{
    padding-left: var(--p6);
    padding-right: var(--p6);
    padding-top: 0;
        padding-bottom: 0;
    margin-bottom: 0px;
    width: 100%;
}
.search-bar .check.left input#start_date, .search-bar .check.left input#start_date1 {
    border-right: 0px solid;
    border-radius: 25px 0px 0px 25px;
    height: 59px;
    /* margin-bottom: 20px; */
}
.search-bar .check.right input#end_date, .search-bar .check.right input#end_date1 {
    border-left: 0px solid;
    border-radius: 0 25px 25px 0;
    height: 59px;
}
.search-bar .check:before{
    top: 20px;
    right: 10px;
    width: 2px;
    background: var(--secondary-color);
    z-index: 1;
    height: 20px;
}
.search-bar input#end_date, .search-bar input#end_date1 {
    padding-left: 48px;
}
input#demo17, input#demo171{
    height: 59px !important;
    top: 0px !important;
}
.search-bar .col-3.srch-btn{
    padding-left: 6px;
    margin-bottom: 0px;
}
.search-bar .form-control:focus{
    box-shadow: none !important;
    background: #f5f5f5 !important;
    border: 1px solid #e0e0e0 !important;
}
.search-bar button.main-btn{
    height: 55px;
    width: 100%;
    border-radius: 25px;
}
.video-cont{
    background: transparent;
    justify-content: center;
}
.hero-content h1{
    font-size: 36px;
}
.hero-content p {
    font-size: 16px;
}
.video-sec {
        height: 450px;
    }
section.new-about-us .container-fluid .img{
    width: 100%;
}
.about_section .about_content{
    margin-left: 0;
}
section.about_section .row{
    gap: 30px 0;
}
section.cta .head-sec h2{
    text-align: center;
}
section.new-about-us .img-part img {
    height: 450px;
    }
    section.new-about-us .container-fluid .col-6.content{
        width: 100%;
    }
    section.new-about-us .container-fluid .inner-content {
    padding: var(--p30);
    padding-bottom: 40px;
}
section.new-about-us .inner-content h2 {
    font-size: var(--f50);
    }
    section.home-list {
    padding: var(--p50) var(--p12);
}
section.home-list .col-6.col-md-6.col-sm-12.prop-card.aos-init.aos-animate {
    width: 100%;
}
section.property-new-sec .owl-nav{
    width: 100%;
    left: 0;
}
section.property-new-sec .img-sec img{
    height: 350px;
}
section.cta .content {
    width: 90%;
    padding: var(--p40);
}
section.home-list .col-4 {
    width: 50%;
}
section.home-list .row {
    gap: 30px 0%;
}
section.home-list i {
    margin-right: 4px;
    }
    section.about-owner .col-6.col-md-6.col-sm-12.img, section.about-owner .col-6.col-md-6.col-sm-12.cont{
        width: 100%;
        height: auto;
        padding: 0;
    }
    section.about-owner .abt-img{
        position: relative;
        width: 100%;
        height: 400px;
    }
    section.about-owner .row{
        gap: 30px;
    }
    .attractions .row{
        gap: 70px;
    }
    .attractions .col-4{
        width: 100%;
    }
    .attractions .image-box img {
    height: 380px;
}
section.home-list .rating{
    width: 27%;
}
.check.right.icns.mb-lg-0.position-relative.datepicker-common-2:before{
    background: transparent;
}
.search-bar input#show-target-data1{
    height: 59px;
    padding: var(--p12) var(--p22) var(--p11) var(--p48);
    background: #f5f5f5 !important;
        border: 1px solid #e0e0e0;
}
.about_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about_wrapper .col-lg-6.abt-content{
    padding: 20px;
    margin-bottom: 30px;
}
.how-we-value-wrapp img.img-fluid{
    height: 350px;
}
section.gallery .col-3.md-12.sm-12, section.gallery .col-9.md-12.sm-12 {
    width: 100%;
}
.gallery .rev{
    margin-top: var(--m30);
}
.arrow-mask-right {
    left: auto;
    right: 0px;
}
}
@media (max-width: 540px){ 

    section.about_wrapper .about-img1 {
        height: 300px;
      
    }
    section.about_wrapper .about-img1 img {
        height: 300px;
    }
    section.testimonial {
        padding-bottom: 40px;
    }
    section.testimonial .testy{
        margin-top: 0;
    }
    section.testimonial .head-sec {
 padding-left: 0;
 padding-top: var(--p40);
 margin-bottom: 0;
 width: 100%;
 }
  .about_wrapper .col-lg-6.abt-content{
  padding: 20px;
  }
  section#about .abt-para {
    height: 200px;
  }
    section.home-list h5 span {
        font-size: var(--f18) !important;
    }
    section.home-list h5 {
        font-size: var(--f14) !important;
    }
 
    html{
        overflow-x:hidden !important;
    }
    .hero-content h1 {
        font-size: 28px;
    }
    .hero-content p{
        font-size: 14px;
    }
    .video-sec{
        overflow: visible;
        height: 300px;
    }
    .video-cont{
        justify-content: flex-start;
    }
    .search-bar{
        bottom: -3px;
        padding: 0;
    }
    section.home-list .col-6{
        width: 100%;
        padding: 0px;
    }
    .prop-view-btn a{
        font-size: var(--f16);
    }
    .video-cont h1 {
   font-size: var(--f30);
    margin-bottom: 0px;
    margin-top: 65px;
}
    input#demo17, input#demo171 {
    height: 135px !important;
}
.banner-wrapper {
    height: 710px;
}
.about_section .about_img img {
    height: 300px;
}
section.home-list .how-we-value-heading h2 {
    /* padding-top: 25px; */
}
    section.home-list .how-we-value-heading span{
        display:none;
    }
.search-bar .datepicker-common-2{
    width: 100%;
}
.search-bar .datepicker-common-2.datepicker-main {
    margin-bottom: 0px;
}
.datepicker {
    width: 100% !important;
}
#datepicker-demo17.datepicker {
    z-index: 10 !important;
}
.search-bar .check.right input#end_date, .search-bar .check.right input#end_date1 {
    border-left: 1px solid #e0e0e0;
    border-radius: 25px 25px 25px 25px;
}
.search-bar .check.left input#start_date, .search-bar .check.left input#start_date1 {
    border-right: 1px solid #e0e0e0;
    border-radius: 25px 25px 25px 25px;
}
.search-bar .check:before{
    display: none;
}
.guests .col-6.guest-img{
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
}
.guests .col-6.guest-content{
    padding: 0px;
    width: 100%;
}

.guest-content-section {
    height: 440px;
    }
        .about_wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about_wrapper .col-lg-6{
        padding: 0px;
    }
    section.about_wrapper .about-img1 {
        height: 300px;
    }
    .about-img1 img{
        height: 300px !important;
    }
    .about_wrapper .heading_sec h3{
        font-size: 28px;
    }
    section.about_section .col-lg-6{
        padding: 0px;
    }
    .about_section .about_content h5{
        font-size: var(--f25);
        margin-bottom: 20px;
    }
    section.home-list .how-we-value-heading h6{
        font-size: var(--f16);
    }
section.new-about-us .img-part img {
    height: 300px;
}
section.home-list .property-categories img, section.home-list .property-categories{
    height: 300px;
}
section.home-list .property-categories .categories-content h3{
    font-size: var(--f25);
}
section.new-about-us .container-fluid .inner-content {
    padding: var(--p20) var(--p12);
    padding-bottom: 40px;
}
    section.property-new-sec .head-sec h2{
        font-size: var(--f30);
        margin-bottom: var(--m30);
    }
    section.property-new-sec .img-sec img {
    height: 250px;
}
section.property-new-sec h4{
    font-size: 19px;
    text-wrap: wrap;
        display: block;
    white-space: inherit;
word-wrap: break-word;
    overflow-wrap: break-word;
        width: 100%;
}
section.property-new-sec .cont .price span {
    font-size: 15px;
}
section.cta .content {
    width: 100%;
    padding: var(--p25) var(--p20);
}
.hero-section .card__heading{
    font-size: 1.7rem;
    word-spacing: 0;
}
.hero-section .card:before{
    padding-bottom: 300px;
}
section.new-about-us .inner-content h2 {
    font-size: var(--f36);
}
section.new-about-us .inner-content .para {
    max-height: 350px;
}

section.home-list .col-4 {
    width: 100%;
    padding: 0px;
}
section.home-list .row {
    gap: 25px 0%;
}
section.home-list {
    padding: var(--p40) var(--p12);
}
section.home-list .pro-cont{
    padding: var(--p40) var(--p15) var(--p25) var(--p15);
}
section.home-list h5 {
    font-size: var(--f16);
}
section.home-list h5 span{
    font-size: var(--f20);
}
section.home-list h3.title {
    font-size: var(--f18);
    height: auto;
    width: 100%;
}
section.home-list {
    /* padding: var(--p40) var(--p12); */
    /* padding: 0; */
}
section.home-list .prop-card{
    padding: 0px;
}
section.cta{
    padding-top: 50px;
    padding-bottom: 200px;
}
section.collection-section .collection-content h3 {
    font-size: 24px;
}
.col-12{
    padding: 0;
}
section.about-owner .col-6.col-md-6.col-sm-12.img, section.about-owner .col-6.col-md-6.col-sm-12.cont {
    width: 100%;
    padding: 0px;
}
section.about-owner .abt-img, section.about-owner img{
    height: 300px;
}
section.about-owner .abt-detail{
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}
section.testimonial .head-sec p{
    margin-bottom: 10px;
}
section.how-we-value-wrapp .head-sec{
    margin-bottom: 30px;
}
.how-we-value-wrapp .atrr {
    padding: 0;
    position: relative;
    width: 100%;
}
.how-we-value-wrapp img.img-fluid {
        height: 300px;
    }
.single-testimonial::before{
    width: 86px;
    height: 80px;
    background-position: 15px 15px;
}
.single-testimonial::after{
    width: 86px;
    height: 80px;
    background-position: 19px 19px;
}
.single-testimonial p{
    /* padding: var(--p20); */
    /* padding-bottom: 0px; */
    /* padding-top: 65px; */
}
section.testimonial .owl-carousel .owl-item img{
    /* width: 100px; */
    /* height: 100px; */
}
.client-details h3{
    /* font-size: 24px; */
}
.client-info{
    /* padding-bottom: 30px; */
}
section.testimonial .cont-sec {
    padding: var(--p20) 0px;
}
section.testimonial .para p{
    height: auto;
    max-height: 100%;
    font-size: var(--f14);
}
    section.testimonial .para{
        max-height: 104px;
    }
    section.testimonial h3 {
    padding-left: 0;
    font-size: var(--f18);
    }
.attractions .image-box img {
    height: 300px;
}
.attractions .lower-box{
    left: 15px;
    right: 15px;
}
.attractions .lower-content h4{
    height: auto;
}
section.home-list .rating{
    width: 25%;
}
section.testimonial .head-sec h2{
    /* margin-bottom: 28px; */
}
.owl-carousel .owl-item {
    padding: 5px;
    }
    .search-bar form {
        bottom: -98px;
 
    }
    section.about-owner .call-area a{
        font-size: 15px;
    }
     a.gallery-btn {
    font-size: var(--f16);
}
.gallery .rev .col-7, .gallery .rev .col-5{
    width:100%;
    padding: 0px;
}
section.gallery .col-3.md-12.sm-12, section.gallery .col-9.md-12.sm-12{
    padding: 0px;
}
.arrow-mask-right {
    left: auto;
    right: 0px;
}
section.gallery .head-sec h2 {
    font-size: 30px;
    }
}
@media (max-width: 360px){
    .video-cont h1 {
    font-size: var(--f30);
    margin-bottom: 0px;
}
section.new-about-us .inner-content h2 {
    font-size: var(--f30);
}
section.new-about-us .inner-content .para {
    max-height: 360px;
}
section.about-owner .abt-img {
    height: 300px;
}
section.testimonial h3{
    font-size: var(--f18);
}
    .guests img{
        height: 200px;
    }
    .hero-section .card__heading {
    font-size: 1.5rem;
    word-spacing: 0;
}
section.property-new-sec .head-sec h2 {
    font-size: var(--f26);
    }
.guest-content-section {
    height: 450px;
}
section.property-new-sec h4 {
    font-size: 17px;
    }
    .attractions .image-box img {
    height: 250px;
}
.attractions .row {
    gap: 50px;
}
section.home-list ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: var(--f13);
}
section.home-list ul li i{
    margin-right: 0px;
}
section.about-owner .call-area a {
        font-size: 14px;
    }
}
@media (max-width: 320px){

section.home-list .rating{
    width: 37%;
}
section.about-owner .call-area a {
        font-size: 13px;
    }
}